/* General styles */
html,
body {
    height: 100%;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    
}



/* Header styles */
header {
    padding: 15px;
    text-align: center;
    background-color: #fa0707;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

header h1 {
    font-family: 'F1-Bold', 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}
#logo { 
    padding-right: 10pt;
    width: 150px;
}

p{
    font-family: 'F1-Regular', 'Roboto', sans-serif;
    font-size: 12pt;
}

h2{
    font-family: 'F1-Bold', 'Roboto', sans-serif;
    font-size: 20pt;
}
#viz2 {
    position: relative;
}

#tooltip-details {
    font-family: 'F1-Regular', 'Roboto', sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 0;
    right: 0px;
    width: 170px;
    background-color: rgb(247, 243, 243);
    padding: 10px;
    border: 1px solid rgb(243, 10, 10);
    border-radius: 5px;
}

.tooltip2 {
    pointer-events: none;
  }
  

.tooltip{
    font-family: 'F1-Regular', 'Roboto', sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 0;
    right: 0px;
    width: 170px;
    background-color: rgb(247, 243, 243);
    padding: 10px;
    border: 1px solid rgb(243, 10, 10);
    border-radius: 5px;
}

#tooltip1{
    font-family: 'F1-Regular', 'Roboto', sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 0;
    right: 0px;
    width: 170px;
    background-color: rgb(247, 243, 243);
    padding: 10px;
    border: 1px solid rgb(243, 10, 10);
    border-radius: 5px;
}

@font-face {
    font-family: F1-Regular;
    src: url("fonts/Formula1-Regular.ttf") format("opentype");
}

@font-face {
    font-family: F1-Bold;
    src: url("fonts/Formula1-Bold.ttf") format("opentype");
}

@font-face {
    font-family: F1-Black;
    src: url("fonts/Formula1-Black.ttf") format("opentype");
}

@font-face {
    font-family: F1-Wide;
    src: url("fonts/Formula1-Wide.ttf") format("opentype");
}



/* Main container styles */
main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.visualization-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.visualization-group .visualization {
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
}
.visualization {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    flex: 1;
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    position: relative;
}

.visualization h2 {
    margin: 0;
    margin-bottom: 15px;
}

/* Responsive layout for small screens */
@media screen and (max-width: 768px) {
    .visualization {
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Footer styles */
footer {
    background-color: #e10600;
    padding: 10px;
    text-align: center;
}

footer p {
    color: #ffffff;
    margin: 0;
}
